src/main/app/process-jms-message.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.7.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <jms:activemq-connector name="QuoteActiveMQ" specification="1.1" username="${quoteapi.jms.activemq.username}" password="${quoteapi.jms.activemq.password}" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ" maxRedelivery="1"/>
    <flow name="send-jms-messageFlow">
        <dw:transform-message doc:name="JSON Request to Java">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <jms:outbound-endpoint topic="${quoteapi.translated.jms.activemq.topic}" connector-ref="QuoteActiveMQ" doc:name="Quote Active MQ">
            <jms:transaction action="NOT_SUPPORTED"/>
        </jms:outbound-endpoint>
        <dw:transform-message doc:name="Response">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"jmsResponse": "successful"
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="consume-jms-messageFlow">
        <jms:inbound-endpoint  topic="${quoteapi.translated.jms.activemq.topic}" connector-ref="QuoteActiveMQ" doc:name="Quote Active MQ">
            <jms:transaction action="NOT_SUPPORTED"/>
        </jms:inbound-endpoint>
        <dw:transform-message doc:name="Assign Payload">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>
        <vm:outbound-endpoint exchange-pattern="request-response" path="jms.quote.decompress" connector-ref="QuoteVM" doc:name="VM Decompress">
            <vm:transaction action="NONE"/>
        </vm:outbound-endpoint>
    </flow>
    <flow name="decompressFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="jms.quote.decompress" connector-ref="QuoteVM" doc:name="VM Decompress">
            <vm:transaction action="NONE"/>
        </vm:inbound-endpoint>
        <set-variable variableName="filename" value="${quoteapi.dailyquote.filename.prefix}#[payload.quote.timestamp]${quoteapi.dailyquote.filename.ext}" doc:name="Assign Filename" mimeType="text/plain"/>
        <dw:transform-message doc:name="Prepare Decompress Request">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
  "quote": {
    "author": payload.quote.author,
    "quotetext": payload.quote.quotetext
  },
  "activity": "decompress",
  "compression": {
    "key": " ",
    "keyIndexes" : payload.quote.keyIndexes splitBy ","
  }
}]]></dw:set-payload>
        </dw:transform-message>
        <flow-ref name="put:/quotes:application/json:quoteapi-config" doc:name="put:/quotes:application/json:quoteapi-config"/>
        <dw:transform-message doc:name="Pass the Quote and Filename to File Append">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"quote": payload.quote,
	"filename": flowVars.filename
}]]></dw:set-payload>
        </dw:transform-message>
        <vm:outbound-endpoint exchange-pattern="request-response" path="jms.quote.file.append" connector-ref="QuoteVM" doc:name="VM File Append">
            <vm:transaction action="NONE"/>
        </vm:outbound-endpoint>
    </flow>
    <flow name="process-jms-messageFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="jms.quote.file.append" connector-ref="QuoteVM" doc:name="VM File Append">
            <vm:transaction action="NONE"/>
        </vm:inbound-endpoint>
        <dw:transform-message doc:name="Prepare Message to append in file">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%var timestamp = now as :localdatetime
---
{
  "filename": payload.filename,
  "action": "append",
  "text": "$timestamp | $(payload.quote.quoteText)"
}]]></dw:set-payload>
        </dw:transform-message>
        <flow-ref name="post:/quotes/file:application/json:quoteapi-config" doc:name="post:/quotes/file:application/json:quoteapi-config"/>
    </flow>
</mule>
