src/main/app/quote-compress-decompress.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.7.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
	<flow name="quote-compress-decompressFlow">
        <expression-component doc:name="Perform Quote Activity"><![CDATA[import com.whiteskylabs.quoteapi.model.EntityInfo;
import com.whiteskylabs.quoteapi.model.QuoteActivityInfo;
import com.whiteskylabs.quoteapi.service.impl.QuoteServiceImpl;
import com.whiteskylabs.quoteapi.model.QuoteActivityResponse;
import com.whiteskylabs.quoteapi.model.Quote;

QuoteActivityInfo quoteActivityInfo = new QuoteActivityInfo();

Quote quote = new Quote();
quote.setAuthor(payload.author);
quote.setQuoteText(payload.quotetext);
quoteActivityInfo.setActivity(payload.activity);
quoteActivityInfo.setQuote(quote);

EntityInfo[] activityEntities = new EntityInfo[2];

EntityInfo keyInfo = new EntityInfo();
keyInfo.setName("key");
keyInfo.setValue(payload.key); 
activityEntities[0] = keyInfo;


EntityInfo keyIndexesInfo = new EntityInfo();
keyIndexesInfo.setName("keyIndexes");
keyIndexesInfo.setValue(payload.keyIndexes); 
activityEntities[1] = keyIndexesInfo;

quoteActivityInfo.setActivityEntities(activityEntities);

QuoteServiceImpl impl = new QuoteServiceImpl();

payload = impl.performQuoteActivity(quoteActivityInfo);
]]></expression-component>
        <json:object-to-json-transformer doc:name="Transform Quote Activity Response to JSON"/>

	</flow>
</mule>
