target/classes/translator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.7.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:request-config name="GoogleTranslateAPIConfiguration" protocol="HTTPS" host="${googleapi.translate.host}" port="${googleapi.translate.port}" basePath="${googleapi.translate.path}" doc:name="HTTP Request Configuration"/>
    <flow name="translatorFlow">
        <http:request config-ref="GoogleTranslateAPIConfiguration" path="/" method="GET" doc:name="Invoke Google Translate API">
            <http:request-builder>
                <http:query-param paramName="key" value="${googleapi.translate.key}"/>
                <http:query-param paramName="source" value="#[payload.source]"/>
                <http:query-param paramName="target" value="#[payload.target]"/>
                <http:query-param paramName="q" value="#[payload.text]"/>
            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Return Translated Text Only">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	"translatedText": payload.data.translations[0].translatedText
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
